#
# ~/.aliases
#

# ls
alias ls='ls --color=auto --group-directories-first'

# lsblk
alias lsblk='lsblk -o NAME,FSUSED,SIZE,FSTYPE,PATH,MOUNTPOINT,UUID'

# systemctl
alias reboot='systemctl reboot'
alias poweroff='systemctl poweroff'
alias shutdown='systemctl poweroff'
alias suspend='systemctl suspend'
alias sleep='systemctl suspend'
alias hibernate='systemctl hibernate'

# pacman
alias pacman='sudo pacman'

# volume
alias volume='amixer set Master'

# Chromium
alias chromium='start_chromium_in_x'

# Git
alias gauto='git_auto'
