#
# ~/.aliases
#

# ls
alias ls='ls --color=auto --group-directories-first'

# lsblk
alias lsblk='lsblk -o NAME,FSUSED,SIZE,FSTYPE,PATH,MOUNTPOINT,UUID'

# systemctl
alias reboot='systemctl reboot'
alias poweroff='systemctl poweroff'
alias shutdown='systemctl poweroff'
alias suspend='systemctl suspend'
alias sleep='systemctl suspend'
alias hibernate='systemctl hibernate'

# volume
alias volume='amixer set Master'

# Chromium
alias chromium='start_chromium_in_x'

# Git
alias gadd='git add'
alias gcommit='git commit'
alias gpush='git pull && git push'
alias gpull='git pull'
alias gstatus='git status'
alias gdiff='git diff'
alias gauto='git_auto'
alias glog='git log --graph'
alias gclone='git clone'
