# This is my home directory so I would like to ignore
# everything except specific configuration files.
*

# Don't ignore files for this repo
!.gitignore
!README.md

# Bash configuration
!.bash_profile
!.bashrc
