#
# ~/.gitignore
#

# This is my home directory so I would like to ignore
# everything except specific configuration files.
*

# #######################################
# FILES I WANT TO TRACK
# #######################################

# Files for this repo
!.gitignore
!README.md

# Bash configuration
!.bash_profile
!.bashrc
!.profile
!.aliases
!.bash_aliases

# Startup script
!startup/
!startup/*

# Other scripts
!bin
!bin/*

# #######################################
# #######################################

# Make sure to definitely ignore sesitive files
.ssh/*
