# This is my home directory so I would like to ignore
# everything except specific configuration files.
*

# #######################################
# FILES I WANT TO TRACK
# #######################################

# Files for this repo
!.gitignore
!README.md

# Bash configuration
!.bash_profile
!.bashrc

# #######################################
# #######################################

# Make sure to definitely ignore sesitive files
.ssh/*
